html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend { outline: 0; padding: 0; margin: 0; border: 0; font-style:normal;}
:focus { outline: 0;}
* {
  box-sizing: border-box ;
}
/*html,body{text-align: center; color: #49a8d3;}*/
html,body{color: #49a8d3;}
body {font-family: 'Microsoft Yahei',SimSun, Helvetica, sans-serif; font-size:12px;}
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; vertical-align:top; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
strong,b,em,i,address,cite{ font-style:normal;}
/*img{vertical-align: top;}*/
/* 链接样式 */
a:link,a:visited{ text-decoration:none;-webkit-transition:color 0.3s linear;-moz-transition:color 0.3s linear;-o-transition:color 0.3s linear; transition:color 0.3s linear;}
a:hover{text-decoration:none;}
/*面包屑*/
.primaryTitle{
  background: url("../img/indexIcon.png") no-repeat left center;
  padding-left:26px;
}
.crumbCon{
  position: relative;
}
#home{
  min-width: 1290px!important;
  overflow: auto;
}
.crumbCon .addBtn{
  position: absolute;
  right: 20px;
  bottom: 6px;
}
.el-breadcrumb__item{
  line-height: 3!important;
}
#home_right .el-breadcrumb__item{
  line-height: 56px!important;
}
/*内容边界*/
.contentBox{
  padding: 20px 20px;
  background: #fafafc;
  height: calc(100% - 58px);
  overflow: auto;
}
/*筛选条件*/
.filterLabel{
  display: inline-block;
  width: 70px;
  text-align: right;
  color: #606266;
}
.ipt{
  width: 200px!important;
}
.filterBtn .fa-search{
  margin-right: 10px;
}
/*菜單列表*/
#home_left .el-col-12{
  width: 200px!important;
}
/*标签样式*/
.el-tag{
  height: 23px;
  line-height: 23px;
}
/**********************************************滚动条样式*********************************************************/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #dedede;
}
/*********************添加数据按钮***************************8*/
.contentBox .addBtn{
  overflow: hidden;
  margin-bottom: 15px;
}
.contentBox .addBtn .fa-plus{
  margin-right: 5px;
}
.el-button--primary{
  background-color:#5b5bb6!important ;
  border-color: #5b5bb6!important;
  color: #fff!important;
}
.el-button--primary:active{
  background: #0000b5!important;
  border-color: #0000b5!important;
}
.el-button--primary:focus, .el-button--primary:hover{
  background: #0000b5!important;
  border-color: #0000b5!important;
}
.el-button--primary.is-disabled{
  background-color: #9393c2!important;
  border-color: #9393c2!important;
}
/*********************表格固定样式****************************/
.filterHeader th{
  background-color: #f1f2f7!important;
  font-weight: bold;
}
/*toolTip样式*/
.tableCellTip button{
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-radio__input.is-checked+.el-radio__label{
  color: #666;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #666;
}
.el-submenu.is-active .el-submenu__title{
  border-bottom: 1px solid rgba(255,255,255,0.1);;
}
.editTableBtn{
  padding: 12px;
  margin-left: 0px!important;
}
/*设置表格样式*/
.selfTable td{
  height: 40px;
  padding:6px 0;
}
.selfTable td .cell{
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}
/*公共样式*/
#home_right .el-loading-mask{
  z-index:98
}
